h4 {
    margin-left: 7em;
    margin-bottom: 2em;


}

.selected {
    margin-top: 20px;
    margin-bottom: -50px;
    width: 20%;

}

.header {

    color: violet;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;

}

.icon {
    margin-right: -100px;
    height: 1.5em;
}

.activity-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.subjects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px;
}

.profile-container {
    background-color: rgba(216, 191, 218, 0.96);
    position: fixed;
    right: 0;
    margin-top: -100px;
    height: 100%;
    width: 20%;


}