.header h2 {
    margin-left: 5em;
    margin-bottom: 2em;
    margin-top: 1em;
    color: blueviolet;
}

h4 {
    margin-left: 7em;
    margin-bottom: 2em;


}

.header {

    color: violet;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    margin-right: -100px;
    height: 1.5em;
}

.activity-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.subjects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px;
}

.profile-container {
    background-color: rgba(216, 191, 218, 0.96);
}