.personal-info {
    display: flex;
    margin-top: -3em;
}

.info {
    padding-top: 2.5em;
    margin-left: -6em;
}

.personal-info p {
    margin-left: 2em;

}

.age {
    padding-left: -50em;
}

.profile {
    color: blueviolet;
}

.loc {
    margin-top: -1em;
}

.personal-info p {
    margin-left: 5px;
    margin-bottom: -40px;
}

@media only screen and (max-width: 700px) {
    .name {
        /* margin-bottom: -10%; */
        font-size: 1em;
    }

    .info {
        font-size: 11px;
    }

    .personal-info h4 {
        margin-left: 60px;

    }

}